html {
  margin: 0;
  background-color: #0E0613;
  color: rgb(195, 189, 189);
}

body {
  margin: 0;
}

.main-container {
  display: grid;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto;
  margin-top: 2rem;
}

.header {
  background-color: #33122A;
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.navigation {
  height: 6rem;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

nav a:hover {
  color: white;
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__item {
  padding-left: 1.5rem;
}

.nav__link {
  text-decoration: none;
  color: #E0484A;
}

.top-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  grid-column: 2 / 3;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.top-container p {
  text-align: justify;
}

.my-photo {
  border-radius: 25%;
  max-width: 250px;
  max-height: 250px;
}

.projects {
  display: flex;
  font-size: 1.5rem;
  text-align: center;
  grid-column: 1 / 4;
  margin: 1rem;
}

.projects img {
  border: 1px solid white;
  max-width: 100%;
  max-height: auto;
}

.image-container {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the background color and opacity as desired */
  opacity: 0;
  transition: opacity 0.3s ease-in-out; /* Add a transition effect for the opacity */
}

.contacts {
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  padding-top: 3rem;
  background-color: #33122A;
  border-radius: 25%;
  margin-bottom: 1rem;
}

.contacts a:hover {
  color: white;
}

@media only screen and (max-width: 1024px) {
  .main-container {
    grid-template-rows: 1fr 1fr 2fr 1fr;
    margin-top: 2rem;
  }

  .top-container {
    grid-column: 1/4;
  }

  
  .top-container p {
    margin: 0 1rem;
    text-align: justify;
  }
}

@media only screen and (max-width: 768px) {
  .main-container {
    grid-template-columns: 1fr;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.5rem;
    text-align: center;
    grid-column: 1 / 4;
  }

  .projects img {
    border: 1px solid white;
    max-width: 80%;
    max-height: auto;
  }

  .contacts {
    border-radius: 0;
    grid-column: 1;
  }
}

@media only screen and (max-width: 426px) {

  .header {
    display: none;
  }

  .top-container {
    flex-wrap: wrap;
    font-size: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
  }

  .projects {
    width: 100%;
    margin: 0;
  }

  .projects img {
    border: 1px solid white;
    max-width: 70%;
    max-height: auto;
  }

  .my-photo {
    border-radius: 25%;
    padding-right: 0;
    margin: 2rem;
    max-width: 200px;
    max-height: 200px;
  }

  .top-container p {
    width: 70%;
  }

  .top-container h3 {
    width: 70%;
  }

  .contacts {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
}